@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-manrope text-black-secondary-bg;
}

section {
  @apply py-10;
}

@layer utilities {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    @apply px-4 sm:px-8;
  }
}

.dropDown {
  display: none;
}

.items:hover .dropDown {
  display: block;
}
