@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-manrope text-black-secondary-bg;
}

section {
  @apply py-10;
}

@layer utilities {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    @apply px-4 sm:px-8;
  }
}

.dropDown {
  display: none;
}

.items:hover .dropDown {
  display: block;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
  scrollbar-width: none;
}

.input-class {
    @apply h-12 w-full rounded border border-[##CED4DA] bg-white px-4 py-3 text-[#000000E5] hover:border  focus:bg-[#FAF3F3] focus:outline-none duration-100;
  }
  .select-class {
    /* @apply h-12 w-full appearance-none rounded-lg border-[#000000] bg-[#0000000F] px-4 py-3 text-[#000000E5] hover:border focus:border-[3px] focus:bg-white focus:outline-none; */

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2300000066' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down'%3E%3Cpath d='m6 9 6 6 6-6'/%3E%3C/svg%3E");

    background-position: right 10px center;
    background-repeat: no-repeat;
  }
  .label-class {
    @apply text-base font-medium;
  }